<div class="box" style="height: 1000px;">

  <div class="small-container cart-page">

    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>

      <tr>
        <td>
          <div class="cart-info">
            <img src="../../../assets/watch1.png" alt="Watch">
            <div>
              <p>Eclipse Majesty</p>
              <a href="">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>$2839.00</td>
      </tr>

      <tr>
        <td>
          <div class="cart-info">
            <img src="../../../assets/watch8.png" alt="Watch">
            <div>
              <p>Chromo Elegance</p>
              <a href="">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>$3699.00</td>
      </tr>

      <tr>
        <td>
          <div class="cart-info">
            <img src="../../../assets/watch5.png" alt="Watch">
            <div>
              <p>Regal Splendor</p>
              <a href="">Remove</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>$2545.00</td>
      </tr>
    </table>

    <div class="total-price">
      <tr>
        <td>Subtotal</td>
        <td>$9083.00</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>$135.00</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>$9218.00</td>
      </tr>

      <button class="button">Check Out</button>

    </div>

  </div>
</div>
