
<div class="card" style="height: 1000px;">
  <div class="box-form">
    
    
    
      <div class="right">
      <h5>Login</h5>
      <p>Don't have an account? <br> <a routerLink="/sign-in" style="color: rgb(84, 148, 205);">Create Your Account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="USER NAME">
        <br>
        <input type="password" placeholder="PASSWORD">
      </div>
        
        <br><br>
        
      <div class="remember-me--forget-password">

  
    <label>
      <input type="checkbox" name="item" checked/>
      <span class="text-checkbox">Remember me</span>
    </label>
        <p>Forget password?</p>
      </div>
        
        <br>
        <button>Login</button>
    </div>
    
  </div>
  
  </div>
  